@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,900;1,900&family=Roboto+Slab:wght@100;300;400&display=swap");

:root {
  --black: #101010;
  --light-black: #333333;
  --white: #ffffff;
  --gray: #e2e3e6;
  --fade-blue: #bfd1ff;
  --darkBlue: #243673;
  --blue: #0084d6;
  --heading: "Playfair Display", serif;
  --text: "Roboto", sans-serif;
}
